<!DOCTYPE html>
<html ⚡="">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="{{config.favicon}}">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <link rel="canonical" href=".">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

  <!-- AMP Extensions -->
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  {{#each amp-extensions}}
  <script async custom-element="{{this}}" src="https://cdn.ampproject.org/v0/{{this}}-0.1.js"></script>
  {{/each}}

  {{> style}}
</head>
<body>

  <!-- Start Navbar -->
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
    <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger  pr2 ">☰
    </div>
    <div>
      <!-- Site Title -->
      {{config.siteName}}
    </div>
  </header>

  <!-- Start Sidebar -->
  <amp-sidebar id="header-sidebar" class="ampstart-sidebar px3  " layout="nodisplay">
    <div class="flex justify-start items-center ampstart-sidebar-header">
      <div role="button" aria-label="close sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger items-start">✕</div>
    </div>

    <!-- Site Title -->
    <h3 class="sidebar__site-name">{{config.siteName}}</h3>

    <nav class="ampstart-sidebar-nav ampstart-nav">
      <ul class="ampstart-sidebar-faq list-reset m0">
        <li class="ampstart-faq-item"><a href="/" class="text-decoration-none">Home</a></li>
        <li class="ampstart-faq-item"><a href="/about" class="text-decoration-none">About</a></li>
        <li class="ampstart-faq-item"><a href="/faq" class="text-decoration-none">FAQ</a></li>
        <li class="ampstart-faq-item"><a href="/playlist" class="text-decoration-none">Playlist</a></li>
        <li class="ampstart-faq-item"><a href="/contact" class="text-decoration-none">Contact</a></li>
      </ul>
    </nav>
  </amp-sidebar>
  <!-- End Sidebar -->
  <!-- End Navbar -->

<!-- Content Starts Here -->
<main class="container animated fadeIn">
