<style amp-custom="">

/* Import the boilerplate style partial */
{{> boilerplate-style}}

/* piStreamRadio Styles Here */

.container {
  margin-top: 80px;
}

.sidebar__site-name {
  margin-bottom: 20px;
}

.home__embed {
  margin-top: 10px;
  margin-bottom: 10px;
}

.playlist__table, .playlist__table th, .playlist__table td {
  border: 1px solid #020202;
  border-collapse: collapse;
}

.playlist__table th, .playlist__table td {
  padding: 10px;
}

.playlist__table th {
  text-align: left;
}

.playlist__table {
  margin-top: 10px;
  margin-bottom: 10px;
}

.faq__question {
  margin-top: 20px;
  margin-bottom: 20px;
}

</style>
