{{> head}}


<h1>{{title}}</h1>
<h3>{{subtitle}}</h3>

<!-- Show a link to the sites youtube stream -->
<amp-iframe class="home__embed"
  width="560"
  height="315"
  layout="responsive"
  sandbox="allow-scripts allow-same-origin allow-popups"
  allowfullscreen
  frameborder="0"
  src="https://www.youtube.com/embed/live_stream?channel={{config.channelId}}">
  <amp-img layout="fill"
    src="{{config.channelThumbnail}}"
    placeholder>
  </amp-img>
</amp-iframe>

<p>{{description}}</p>

{{> footer}}
